@{
    ViewBag.Title = "Menu";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.css" rel="Stylesheet" />
    <script src="bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body >
<div class="row" >
     <div class="col-md-7 col-md-offset-2" style="background-color:whitesmoke" >

<nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Cricket You Required</a>
        </div>
        <div >
             <ul class="nav navbar-nav">
                <li ><a href="#">Home</a></li>
                <li ><a href="/Schedule/schedule/">Schedule</a></li>
                <li ><a href="/Series/series/">News</a></li>
                <li ><a href="/News/View_News/">News</a></li>
                <li ><a href="/Photos/photos/">News</a></li>
            </ul>
        </div>
    </nav>


<h2>Menu</h2>

         <br /><br />
<h4>Add Admin :  <a href="/Admin/Sign_Up/">Add New Admin</a></h4> <br />

<h4>Add new player :  <a href="/Admin/Add_Player/">Add Player</a></h4> <br />

<h4>Add new Team :  <a href="/Admin/AddTeam/">Add Team</a></h4> <br />

<h4>view Player List :  <a href="/Admin/playerInfo/">Players List</a></h4> <br />

<h4>Upload File:  <a href="/Series/series2/">upload file</a></h4> <br />

<h4>Add Match:  <a href="/MatchScore/Add_Match/">Add New Match</a></h4> <br />

 <h4>Add Result:  <a href="/MatchScore/Add_Result/">Add Result</a></h4> <br />

<h4>Display Team : <a href="/Admin/displayTeam/"> display team</a> </h4>
         </div>
    </div>
    </body>
    </html>