@{
    ViewBag.Title = "series";
}

<h2>series</h2>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.css" rel="Stylesheet" />
    <script src="bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body style="background-color:whitesmoke">


    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Cricket You Required</a>
        </div>
        <div >
             <ul class="nav navbar-nav">
                <li ><a href="/Home/Index/">Home</a></li>
                <li ><a href="/Schedule/schedule/">Schedule</a></li>
                <li class="active"><a href="/Series/series/">Series</a></li>
                <li ><a href="/News/View_News/">News</a></li>
                <li ><a href="/Photos/photos/">Photos</a></li>
            </ul>
        </div>
    </nav>
<div class="jumbotron">
<h1 bgcolor="blue"><em><strong>Series</strong></em></h1>
</div>
<div class="text">
<p >Welcome to Cricket You Required's current series section, where you will find sections dedicated to current, ongoing and future series</p>
</div>
<br />
<br />

<div class="row">
<div class="col-lg-4"> 
<img class="col-lg-offset-1" src="/Content/Images/india aus.jpg" height="250" width="350"></img>
</div>
<div class="col-lg-3">
<h3><font color="red"> India tour of Australia</font></h3>
<p >India tour Australia to play four Tests in December and January. Brisbane, Adelaide, Sydney and Melbourne host the matches and with MS Dhoni struggling with injury, Virat Kohli captains India in the opening Test.</p>
</div>
</div>

<br />
<div class="row">
<div class="col-lg-4"> 
<img class="col-lg-offset-1" src="/Content/Images/sl pak woman.jpg" height="250" width="350"></img>
</div>
<div class="col-lg-3">
<h3><font color="red"> Pak. Women v SL Women</font></h3>
<p >News and match reports as Pakistan Women host Sri Lanka in the United Arab Emirates to play three ODIs counting towards the ICC Women's Championship and three Twenty20 games. </p>
</div>
</div>

<div class="row">
<div class="col-lg-4"> 
<img class="col-lg-offset-1" src="/Content/Images/sl nz.jpg" height="250" width="350"></img>
</div>
<div class="col-lg-3">
<h3><font color="red"> Sri Lanka in New Zealand </font></h3>
<p >Sri Lanka tour New Zealand in December and January to play two Tests and seven ODIs as they continue their build-up to the 2015 World Cup.</p>
</div>
</div>

<br />

<div class="row">
<div class="col-lg-4"> 
<img class="col-lg-offset-1" src="/Content/Images/wi sa.jpg" height="250" width="350"></img>
</div>
<div class="col-lg-3">
<h3><font color="red"> West Indies in South Africa </font></h3>
<p >Match reports, news and video as the West Indies tour South Africa to play three Tests, two Twenty20 Internationals and five One-Day Internationals between 10th December 2014 and 28th January 2015.</p>
</div>
</div>

<br />

<div class="row">
<div class="col-lg-4"> 
<img class="col-lg-offset-1" src="/Content/Images/ICC Women's Championship.jpg" height="250" width="350"></img>
</div>
<div class="col-lg-3">
<h3><font color="red"> ICC Women's Championship </font></h3>
<p >The ICC Women's Championship is a new One-Day International tournament that will run from 2014 to 2016, determining qualification for the 2017 World Cup. </p>
</div>
</div>

<br />
         </div>
    </div>
</body>
</html>
