@{
    ViewBag.Title = "series2";
}

<h2>series2</h2>

<form action="/Series/save" method="post" enctype="multipart/form-data" >

    Upload Image: <input type="file" name="image" />
 
     
 
    <input type="submit" value="upload" />
</form>