@{
    ViewBag.Title = "schedule";
}

<h2>schedule</h2>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.css" rel="Stylesheet" />
    <script src="bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body  style="background-color:whitesmoke">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Cricket You Required</a>
        </div>
        <div >
             <ul class="nav navbar-nav">
                <li><a href="/Home/Index/">Home</a></li>
                <li class="active" ><a href="/Schedule/schedule/">Schedule</a></li>
                <li ><a href="/Series/series/">Series</a></li>
                <li ><a href="/News/View_News/">News</a></li>
                <li ><a href="/Photos/photos/">Photos</a></li>
            </ul>
        </div>
    </nav>
<div class="panel panel-default">
    <div class="panel-heading">


 <div class="page-header"   >
 
   <img src="/Content/Images/logo.png" class="img-rounded" alt="Cinque Terre" height="300" width="1300"  ></img>
 
 <div class="panel-body">
 <marquee  width=100% behavior= scroll  bgcolor= #339900 height="70px"><p class="lead" >Feb 14 2015 - Mar 29 2015, Teams: New Zealand, Sri Lanka, Australia, England, South Africa, Pakistan, India, Zimbabwe, Ireland, West Indies, Bangladesh, Afghanistan, Scotland, United Arab Emirates.</p>
 </marquee>
 </div>
 </div>
 </div>

 <div class="bg-info">
 <div class="row" >
 <div class="col-lg-2"> <h2>Date</h2></div>
 <div class="col-lg-4"> <h2>Match Details</h2></div>
 <div class="col-lg-2"> <h2>Time</h2></div>
 <div class="col-lg-2"> <h2>Ground</h2></div>
 <div class="col-lg-1"> <h2>City</h2></div>
 </div>
 <div class="row" >
 <div class="col-lg-2"> <p>Feb 14 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">New Zealand vs Sri Lanka, 1st Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Hagley Oval Ground</p></div>
 <div class="col-lg-1"> <p>Christchurch</p></div>
 </div>
 <div class="row" >
 <div class="col-lg-2"> <p>Feb 14 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">Australia vs England, 2nd Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Melbourne Cricket Ground </p></div>
 <div class="col-lg-1"> <p>Melbourne</p></div>
 </div>
 <div class="row" >
 <div class="col-lg-2"> <p>Feb 15 - Sun</p></div>
 <div class="col-lg-4"> <p><font color="blue">South Africa vs Zimbabwe, 3rd Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>6:30 AM</p></div>
 <div class="col-lg-2"> <p>Seddon Park </p></div>
 <div class="col-lg-1"> <p>Hamilton</p></div>
 </div>
  <div class="row" >
 <div class="col-lg-2"> <p>Feb 15 - Sun</p></div>
 <div class="col-lg-4"> <p><font color="blue">India vs Pakistan, 4th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Adelaide Oval </p></div>
 <div class="col-lg-1"> <p>Adelaide</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Feb 16 - Mon</p></div>
 <div class="col-lg-4"> <p><font color="blue">Ireland vs West Indies, 5th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Saxton Oval </p></div>
 <div class="col-lg-1"> <p>Nelson</p></div>
 </div>

 <div class="row" >
 <div class="col-lg-2"> <p>Feb 17 - Tue</p></div>
 <div class="col-lg-4"> <p><font color="blue">New Zealand vs Scotland, 6th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>University Oval</p></div>
 <div class="col-lg-1"> <p>Dunedin</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Feb 18 - Wed</p></div>
 <div class="col-lg-4"> <p><font color="blue">Bangladesh vs Afghanistan, 7th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Manuka Oval</p></div>
 <div class="col-lg-1"> <p>Canberra</p></div>
 </div>

 <div class="row" >
 <div class="col-lg-2"> <p>Feb 19 - Thu</p></div>
 <div class="col-lg-4"> <p><font color="blue">United Arab Emirates vs Zimbabwe, 8th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Saxton Oval</p></div>
 <div class="col-lg-1"> <p>Nelson</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Feb 20 - Fri</p></div>
 <div class="col-lg-4"> <p><font color="blue">New Zealand vs England, 9th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>6:30 AM</p></div>
 <div class="col-lg-2"> <p>Westpac Stadium</p></div>
 <div class="col-lg-1"> <p>Wellington</p></div>
 </div>

 <div class="row" >
 <div class="col-lg-2"> <p>Feb 21 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">Pakistan vs West Indies, 10th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Hagley Oval Ground</p></div>
 <div class="col-lg-1"> <p>Christchurch</p></div>
 </div>

 <div class="row" >
 <div class="col-lg-2"> <p>Feb 21 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">Australia vs Bangladesh, 11th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Brisbane Cricket Ground</p></div>
 <div class="col-lg-1"> <p> Brisbane</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Feb 22 - Sun</p></div>
 <div class="col-lg-4"> <p><font color="blue">Afghanistan vs Sri Lanka, 12th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>University Oval</p></div>
 <div class="col-lg-1"> <p>Dunedin</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Feb 22 - Sun</p></div>
 <div class="col-lg-4"> <p><font color="blue">India vs South Africa, 13th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Melbourne Cricket Ground </p></div>
 <div class="col-lg-1"> <p>Melbourne</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Feb 23 - Mon</p></div>
 <div class="col-lg-4"> <p><font color="blue">England vs Scotland, 14th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Hagley Oval Ground</p></div>
 <div class="col-lg-1"> <p>Christchurch</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Feb 24 - Tue</p></div>
 <div class="col-lg-4"> <p><font color="blue">West Indies vs Zimbabwe, 15th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Manuka Oval</p></div>
 <div class="col-lg-1"> <p>Canberra</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Feb 25 - Wed</p></div>
 <div class="col-lg-4"> <p><font color="blue">Ireland vs United Arab Emirates, 16th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Brisbane Cricket Ground</p></div>
 <div class="col-lg-1"> <p> Brisbane</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Feb 26 - Thu</p></div>
 <div class="col-lg-4"> <p><font color="blue">Afghanistan vs Scotland, 17th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>University Oval</p></div>
 <div class="col-lg-1"> <p>Dunedin</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Feb 26 - Thu</p></div>
 <div class="col-lg-4"> <p><font color="blue">Bangladesh vs Sri Lanka, 18th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Melbourne Cricket Ground </p></div>
 <div class="col-lg-1"> <p>Melbourne</p></div>
 </div>

 <div class="row" >
 <div class="col-lg-2"> <p>Feb 27 - Fri</p></div>
 <div class="col-lg-4"> <p><font color="blue">South Africa vs West Indies, 19th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Sydney Cricket Ground </p></div>
 <div class="col-lg-1"> <p>Sydney</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Feb 28 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">New Zealand vs Australia, 20th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>6:30 AM</p></div>
 <div class="col-lg-2"> <p>Eden Park </p></div>
 <div class="col-lg-1"> <p>Auckland</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Feb 28 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">India vs United Arab Emirates, 21st Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>12:00 AM</p></div>
 <div class="col-lg-2"> <p>W.A.C.A. Ground </p></div>
 <div class="col-lg-1"> <p>Perth</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Mar 01 - Sun</p></div>
 <div class="col-lg-4"> <p><font color="blue">England vs Sri Lanka, 22nd Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Westpac Stadium</p></div>
 <div class="col-lg-1"> <p>Wellington</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Mar 01 - Sun</p></div>
 <div class="col-lg-4"> <p><font color="blue">Pakistan vs Zimbabwe, 23rd Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Brisbane Cricket Ground</p></div>
 <div class="col-lg-1"> <p> Brisbane</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Mar 03 - Tue</p></div>
 <div class="col-lg-4"> <p><font color="blue">Ireland vs South Africa, 24th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Manuka Oval</p></div>
 <div class="col-lg-1"> <p>Canberra</p></div>
 </div>

   <div class="row" >
 <div class="col-lg-2"> <p>Mar 04 - Wed</p></div>
 <div class="col-lg-4"> <p><font color="blue">Pakistan vs United Arab Emirates, 25th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>6:30 AM</p></div>
 <div class="col-lg-2"> <p>McLean Park</p></div>
 <div class="col-lg-1"> <p>Napier</p></div>
 </div>

    <div class="row" >
 <div class="col-lg-2"> <p>Mar 04 - Wed</p></div>
 <div class="col-lg-4"> <p><font color="blue">Australia vs Afghanistan, 26th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>12:00 AM</p></div>
 <div class="col-lg-2"> <p>W.A.C.A. Ground </p></div>
 <div class="col-lg-1"> <p>Perth</p></div>
 </div>

 <div class="row" >
 <div class="col-lg-2"> <p>Mar 05 - Thu</p></div>
 <div class="col-lg-4"> <p><font color="blue">Bangladesh vs Scotland, 27th Match, Pool A</font></p></div>
 <div class="col-lg-2"> <p>3:30 AM</p></div>
 <div class="col-lg-2"> <p>Saxton Oval</p></div>
 <div class="col-lg-1"> <p>Nelson</p></div>
 </div>

    <div class="row" >
 <div class="col-lg-2"> <p>Mar 06 - Fri</p></div>
 <div class="col-lg-4"> <p><font color="blue">India vs West Indies, 28th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>12:00 AM</p></div>
 <div class="col-lg-2"> <p>W.A.C.A. Ground </p></div>
 <div class="col-lg-1"> <p>Perth</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Mar 07 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">Pakistan vs South Africa, 29th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>6:30 AM</p></div>
 <div class="col-lg-2"> <p>Eden Park </p></div>
 <div class="col-lg-1"> <p>Auckland</p></div>
 </div>

  <div class="row" >
 <div class="col-lg-2"> <p>Mar 07 - Sat</p></div>
 <div class="col-lg-4"> <p><font color="blue">Ireland vs Zimbabwe, 30th Match, Pool B</font></p></div>
 <div class="col-lg-2"> <p>9:00 AM</p></div>
 <div class="col-lg-2"> <p>Bellerive Oval </p></div>
 <div class="col-lg-1"> <p>Hobart</p></div>
 </div>
 </div>
 </div>
 
</body>
</html>
