@{
    ViewBag.Title = "photos";
}

<h2>photos</h2>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.css" rel="Stylesheet" />
    <script src="bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body style="background-color:whitesmoke">
<div class="row">
     <div class="col-md-7 col-md-offset-2" >

<nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Cricket You Required</a>
        </div>
        <div >
             <ul class="nav navbar-nav">
                <li ><a href="/Home/Index/">Home</a></li>
                <li ><a href="/Schedule/schedule/">Schedule</a></li>
                <li ><a href="/Series/series/">Series</a></li>
                <li ><a href="/News/View_News/">News</a></li>
                <li class="active"><a href="/Photos/photos/">Photos</a></li>
            </ul>
        </div>
    </nav>


          <img src="/Content/Images/banner_gallery 1.jpg" class="img-rounded" alt="Cinque Terre" height="250" width="780"  ></img>
          <br />
          <br />
          <div class="panel panel-default" >
            <div class="panel-heading">
                <h3>Photo Gallery Index</h3>
            </div>
            <div class="panel-body">
             <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/misbah.jpg" alt="..." />
                        </a>
                    </div>
                     <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/protes kitt.jpg" alt="..." />
                        </a>
                    </div>
                     <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/worldcuptrophies.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/icc.jpg" alt="..." />
                        </a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/pak india.jpg" alt="..." />
                        </a>
                    </div>
                     <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/Ind-vs-nzl.jpg" alt="..." />
                        </a>
                    </div>
                     <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/India Pakistan World cup cricket Match.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                        <img src="/Content/Images/worldcuptrophies.jpg" alt="..." />
                        </a>
                    </div>
                </div>
                       
                                              
                    </div>

                    <br />
                    <br />
                    
                        
                        
                        
                                                             
                   

                </div>

               
            </div>
          </div>
     </div>
</div>
 

</body>
</html>
