@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>easygrass_template</title>

<style type="text/css">

<!--

body {

	margin-left: 0px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

}

-->

</style>

<link href="css/19-1-10-1-14.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/19-1-10-1-14.css" rel="stylesheet" />
</head>


    <body>

        <a href="/Admin/Menu/" >Admins</a>
        <div id="main">

<div id="header"><a href="#">Cricket You Required</a></div>

<div id="banner">

<div id="menupanel">
<ul>

<li><a href="/Home/Index/" class="borders">Home</a></li>

<li><a href="/Schedule/schedule/" class="borders">Schedule</a></li>

<li><a href="/Series/series/" class="borders">Series</a></li>

<li><a href="/News/View_News/" class="borders">News</a></li>

<li><a href="/Photos/photos/" class="borders">Photos</a></li>





</ul>

</div>



</div>

<div id="content">

  <div class="col1">Cricket<br />

    <br />
    <p>Cricket is a bat-and-ball game played between two teams of 11 players each on a field at the centre of which is a rectangular 22-yard long pitch.</p>
      <p> Each team takes its turn to bat, attempting to score runs, while the other team fields. Each turn is known as an innings.Cricket was first played in southern England in the 16th century. By the end of the 18th century, it had developed to be the national sport of England. The expansion of the British Empire led to cricket being played overseas and by the mid-19th century the first international match was held. ICC, the game's governing body, has 10 full members.[2] The game is most popular in Australasia, England, the Indian subcontinent, the West Indies and Southern Africa.</p>
    
    
    <br />

  </div>



<div class="sider"><img src="/Content/Images/lords 1.jpg" alt="sider1" width="255" height="100" /><br />

  <br />

    <img src="/Content/Images/lords.jpg" alt="sider2" width="255" height="100" /></div>

</div>

<div id="footer"><a href="#"></a>&nbsp;&nbsp;&nbsp;<br />

&copy; 2008. All Rights Reserved. <a href="http://www.maadesigns.co.uk/services/web-design-services.htm" target="_blank">website design</a></div>







</div>

</body>

</html>

