@{
    ViewBag.Title = "warner_news";
}

<h2>warner_news</h2>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.css" rel="Stylesheet" />
    <script src="bootstrap.js"></script>
</head>
<body>
<div class="row">
<div class="col-lg-8">
<h1 class="col-lg-offset-1 "> Warner strikes 'arrogant' note for World Cup</h1> <br />
<img class="col-lg-offset-1 " src="/Content/Images/warner.jpg" height="400" width="800"></img>
<p class="col-lg-offset-1 ">The World Cup's been a childhood dream - Warner</p> 
<br />
<p class="col-lg-offset-1 "> Last time Australia named a World Cup squad, David Warner wasn't in it. He had been somewhere around the mark, making an ODI team to tour India late in 2010, and at the time made waves within the team and without by suggesting he wanted to emulate Adam Gilchrist.</p>
<br />
<p class="col-lg-offset-1 ">But when Andrew Hilditch named Australia's 15, Warner was nowhere to be seen. The Twenty20 slugger had difficulty striking a balance between the demands of 20 overs and 50, and more than once looked lost with so much time spanning out ahead of him at the start of an innings.</p>
<br />
<p class="col-lg-offset-1 ">"I was horrible when I first started," Warner remembered. "I've worked my way into the Test team, scored a lot of runs there doing my job at the top of the order. Got selected again in the one-day stuff and then scored some runs there, so I think it's just down to maturity and playing the game I know best.</p>
<br />
<p class="col-lg-offset-1 ">"If I'm striking at 80 in Test cricket I don't need to go any harder in white-ball cricket. That's a thing I need to keep working on as well. Knowing I don't have to hit boundaries from ball one. I can really get myself into the innings and I think that's what I have learned over the last 18-24 months.</p>
<br />
<p class="col-lg-offset-1 ">"If the ball's in my area I'm still going to try and take it over the top or hit it through gaps, but you've got two brand new white balls so it is quite tough and challenging especially in the first 10 overs. If you get your eye in you can make a lot of runs in those first ten overs but my priority is to try to bat long periods of time."</p>
<br />
<p class="col-lg-offset-1 ">While Warner is extremely confident about his prospects for the World Cup, citing the fact he has "taken down most" of the world's bowlers in recent times, his ODI record is somewhat mediocre when lined up against a burgeoning Test aggregate and spring-loaded T20 game. Just 1539 runs in 50 matches at 31.40 and a strike rate of 83.50. Those numbers would say Warner is no Shane Watson, Aaron Finch nor even George Bailey.</p>
<br />
<p class="col-lg-offset-1 ">"There's no bowler in the world that I'm scared of," Warner said. "I'll be arrogant and say I have taken most of them down. Dale Steyn is a very good one-day bowler, a very good Twenty20 bowler, and he is one bowler I try and take on because I know if I don't take him on then he can really take it to us.</p>
<br />
<p class="col-lg-offset-1 ">"Someone who can swing the ball is quite hard to go after. That's where if you can really knuckle down and be there at the end it can work in your favour because the ball is not going to be swinging much."</p>
<br />
<p class="col-lg-offset-1 ">One reason Warner has not accumulated the sort of ODI ledger one might have imagined is continuity, or a lack thereof. He has often been rested from limited-overs assignments, whether it be the high-scoring tour of India in 2013 or last year's venture to Zimbabwe. The triangular series against India and England will afford a chance to get into a 50-over groove akin to that he has found for Test matches over the past 15 months.</p>
<br />
<p class="col-lg-offset-1 ">"Last year I played Twenty20 cricket and then came back out and batted like a cowboy in the Boxing Day Test," Warner said. "It was not my ability to play the game, it was my head thinking I want to hit every ball out of the park. Leading into this World Cup we've got a tri-series which is going to be fantastic and there's going to be no excuses because there's going to be a lot of game time to get ready. It's about me trying to bat the way I do and not go after every ball."</p>
</div>
</div>
</body>
</html>

